#container-boxes {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #070707;
}

.box-style {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #070707;
    color: white;
    border: 1px solid #f7f8f7;
    border-radius: 6px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: dropAnim;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#film {
    background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo com transparência */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* Para navegadores baseados em WebKit */
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99; /* Certifique-se de que o filme esteja acima de outros elementos */

    display: flex; /* Usando flexbox para centralizar o conteúdo */
    justify-content: center;
    align-items: center;
    
}

body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@keyframes dropAnim {
    to {
        top: 100vh;
    }
}