body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #070707;
}
h1 {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#container > div {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middleDiv {
    flex-direction: column !important; 
    gap: 15px;
}

button {
    background-color: #000000;
    padding: 10px 20px;
    width: 200px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #858080;

}
#ranking {
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: 2px solid #858080;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
#imageDiv {
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: 2px solid #858080;
    margin-bottom: 80px;
}